* { box-sizing: border-box; margin: 0; padding: 0; }

body { background-color: #ffffff; background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ebebeb' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E"); height: 100%; width: 100%; }

.global-header { text-align: center; padding: 30px; margin: 0; height: 100px; }

.global-nav { height: 120px; padding: 30px; overflow-x: auto; }

.global-pages .tab-content { height: calc(100vh - 220px); }

.global-pages .tab-content .tab-pane { background: #fff; padding: 30px; }

#day-1 { font-size: 10px; background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center; background-size: cover; margin: 0; padding: 0; font-family: sans-serif; }

#day-1 .keys { display: -ms-flexbox; display: flex; -ms-flex: 1; flex: 1; height: calc(100vh - 220px); -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

#day-1 .key { border: .4rem solid black; border-radius: .5rem; margin: 1rem; font-size: 1.5rem; padding: 1rem .5rem; transition: all .07s ease; width: 10rem; text-align: center; color: white; background: rgba(0, 0, 0, 0.4); text-shadow: 0 0 .5rem black; }

#day-1 .playing { transform: scale(1.1); border-color: #ffc600; box-shadow: 0 0 1rem #ffc600; }

#day-1 kbd { display: block; font-size: 4rem; }

#day-1 .sound { font-size: 1.2rem; text-transform: uppercase; letter-spacing: .1rem; color: #ffc600; }

#day-2 { background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=5); background-size: cover; font-family: 'helvetica neue'; text-align: center; margin: 0; height: calc(100vh - 220px); min-height: calc(100vh - 220px); font-size: 2rem; }

#day-2 .clock { width: 30rem; height: 30rem; border: 20px solid white; border-radius: 50%; margin: 100px auto; position: relative; padding: 2rem; box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2); }

#day-2 .clock-face { position: relative; width: 100%; height: 100%; transform: translateY(-3px); /* account for the height of the clock hands */ }

#day-2 .hand { width: 50%; height: 6px; position: absolute; top: 50%; transform-origin: 100%; transform: rotate(90deg); transition: all 0.05s; transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); }

#day-2 .second-hand { background: #009; }

#day-2 .min-hand { background: #006; }

#day-2 .hour-hand { background: black; }

#day-3 { text-align: center; background: #193549; color: white; font-family: 'helvetica neue', sans-serif; font-weight: 100; font-size: 50px; height: calc(100vh - 220px); }

#day-3 .controls { margin-bottom: 50px; }

#day-3 input { width: 100px; display: inline-block; }

#day-3 .text { font-weight: bold; color: var(--base); }

#day-3 img { width: 500px; height: auto; padding: var(--spacing); background: var(--base); filter: blur(var(--blur)); }

:root { --base: #ffc600; --spacing: 10px; --blur: 10px; }

#day-4 { background: #111; }

#day-4 .question { margin: 40px 20px; }

#day-4 .header, #day-4 .mainHeader { text-align: center; }

#day-4 .mainHeader { color: violet; }

#day-4 .header { color: darkmagenta; }

#day-4 .exercise { color: greenyellow; font-style: italic; }

#day-4 .answer { color: blue; }

#day-4 .mainHeader, #day-4 .answer span, #day-4 .exercise span { font-weight: bold; }

#day-5 { box-sizing: border-box; background: #ffc600; font-family: 'Amatic'; font-size: 20px; font-weight: 200; padding: 0; height: calc(100vh - 220px); }

#day-5 *, #day-5 *:before, #day-5 *:after { box-sizing: inherit; }

#day-5 .panels { min-height: calc(100vh - 220px); overflow: hidden; display: -ms-flexbox; display: flex; }

#day-5 .panels .panel { min-height: calc(100vh - 220px); background: #6B0F9C; box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1); color: white; text-align: center; -ms-flex-align: center; align-items: center; /* Safari transitionend event.propertyName === flex */ /* Chrome + FF transitionend event.propertyName === flex-grow */ transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s; transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -ms-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11); font-size: 20px; background-size: cover; background-position: center; -ms-flex: 1; flex: 1; -ms-flex-pack: center; justify-content: center; align-items: center; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

#day-5 .panels .panel > * { margin: 0; width: 100%; transition: transform 0.5s; -ms-flex: 1 0 auto; flex: 1 0 auto; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

#day-5 .panels .panel > *:first-child { transform: translateY(-100%); }

#day-5 .panels .panel > *:last-child { transform: translateY(100%); }

#day-5 .panels .panel.open { font-size: 40px; -ms-flex: 5; flex: 5; }

#day-5 .panels .panel.open-active > *:first-child, #day-5 .panels .panel.open-active > *:last-child { transform: translateY(0); }

#day-5 .panels .panel p { text-transform: uppercase; font-family: 'Amatic SC', cursive; text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45); font-size: 2em; }

#day-5 .panels .panel p:nth-child(2) { font-size: 4em; }

#day-5 .panels .panel1 { background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }

#day-5 .panels .panel2 { background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }

#day-5 .panels .panel3 { background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }

#day-5 .panels .panel4 { background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }

#day-5 .panels .panel5 { background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

#day-6 { box-sizing: border-box; background: #ffc600; font-family: 'helvetica neue'; font-size: 20px; font-weight: 200; height: calc(100vh - 220px); max-height: calc(100vh - 220px); }

#day-6 *, #day-6 *:before, #day-6 *:after { box-sizing: inherit; }

#day-6 .search-form { max-width: 400px; margin: 50px auto; }

#day-6 input { width: 100%; padding: 20px; }

#day-6 input.search { margin: 0; text-align: center; outline: 0; border: 10px solid #F7F7F7; width: 120%; left: -10%; position: relative; top: 10px; z-index: 2; border-radius: 5px; font-size: 40px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19); }

#day-6 .suggestions { margin: 0; padding: 0; position: relative; /*perspective: 20px;*/ }

#day-6 .suggestions li { background: white; list-style: none; border-bottom: 1px solid #D8D8D8; box-shadow: 0 0 10px rgba(0, 0, 0, 0.14); margin: 0; padding: 20px; transition: background 0.2s; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; text-transform: capitalize; }

#day-6 .suggestions li:nth-child(even) { transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001); background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%); }

#day-6 .suggestions li:nth-child(odd) { transform: perspective(100px) rotateX(-3deg) translateY(3px); background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%); }

#day-6 .suggestions span.population { font-size: 15px; }

#day-6 .suggestions span.highlighted { background: #ffc600; }

#day-8 { padding: 0; }

#day-8, #day-8 section, #day-8 canvas { max-height: calc(100vh - 220px); }
